@import "./syntax-hilight.css";
@import "./color.css";
@import "./toc.css";
@import "./mermaid.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ref: https://smarthr.design/basics/typography/website/ */
@font-face {
  font-family: AdjustedYuGothic;
  font-weight: 400;
  src: local("Yu Gothic Medium");
}

@font-face {
  font-family: AdjustedYuGothic;
  font-weight: 700;
  src: local("Yu Gothic Bold");
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    font-family:
      AdjustedYuGothic,
      Yu Gothic,
      YuGothic,
      sans-serif;
  }

  body {
    @apply bg-background text-foreground;
    height: 100dvh;
    box-sizing: border-box;
  }

  /* https://min-max-calculator.9elements.com/ */
  h1 {
    font-size: clamp(1.25rem, 1.065rem + 0.93vw, 1.875rem);
  }

  h2 {
    font-size: clamp(1.25rem, 1.176rem + 0.37vw, 1.5rem);
  }

  h3 {
    font-size: clamp(1.125rem, 1.088rem + 0.19vw, 1.25rem);
  }

  h4 {
    font-size: clamp(1rem, 0.963rem + 0.19vw, 1.125rem);
  }

  @view-transition {
    /* biome-ignore lint/correctness/noUnknownProperty: CSS View Transitions API property */
    navigation: auto;
  }
}
