@import './syntax-hilight.css';
@import './radix-colors.css';
@import './toc.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ref: https://smarthr.design/basics/typography/website/ */
@font-face {
  font-family: AdjustedYuGothic;
  font-weight: 400;
  src: local("Yu Gothic Medium");
}

@font-face {
  font-family: AdjustedYuGothic;
  font-weight: 700;
  src: local("Yu Gothic Bold");
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: AdjustedYuGothic, Yu Gothic, YuGothic, sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}
