@layer base {
  :root {
    --background: var(--blue1);
    --foreground: var(--slate12);

    --primary: var(--blue11);
    --primary-foreground: var(--blue3);

    --secondary: var(--blue3);
    --secondary-foreground: var(--blue-a11);

    --accent: var(--blue4);
    --accent-foreground: var(--blue12);

    --popover: var(--blue3);
    --popover-foreground: var(--blue12);

    --card: var(--blue2);
    --card-foreground: var(--blue12);

    --muted: var(--blue3);
    --muted-foreground: var(--blue6);

    --border: var(--blue6);
    --input: var(--blue7);

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: var(--blue8);

    --radius: 0.5rem;
  }
}