/* https://rehype-pretty.pages.dev/#line-numbers */
pre > code {
  counter-reset: line;
  @apply overflow-x-auto;
}

pre > code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

pre > code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

pre > code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

pre {
  @apply rounded-md;
  @apply py-4;
  @apply px-2;
}

code > span {
  @apply px-2;
  @apply py-0.5;
  @apply text-sm;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
}

[data-highlighted-line-id="add"] {
  background: #273732;
}

[data-highlighted-line-id="remove"] {
  background: #3f2d32;
}

figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title])
  pre {
  @apply !rounded-tl-none;
}

figure > pre {
  @apply dark:border;
}

/* inline code */
p > code {
  @apply bg-slate-3;
  @apply px-2;
  @apply py-0.5;
  @apply rounded-md;
  @apply bg-slate-4;
  @apply dark:bg-slate-7;
  @apply text-sm;
}
