.toc {
  max-height: calc(100dvh - 12rem);
  overflow-y: auto;
}

.toc-dialog {
  max-height: calc(100dvh - 18rem);
  overflow-y: auto;
}

.toc-list-item {
  line-height: 2;
  font-size: 0.8rem;
  margin-left: 1rem; /* ・の分の幅を確保 */
}

.toc-list-item a {
  opacity: 0.6;
  width: 100%;
  display: block;
  @apply hover:opacity-100;
}

.toc-list-item .is-active-link {
  opacity: 1;
  font-weight: 600;
}

.toc-list-item:has(.node-name--H3.is-active-link) .toc-link.node-name--H2 {
  opacity: 1;
  font-weight: 600;
}

.toc-list-item .node-name--H2::before,
.toc-list-item .node-name--H3::before {
  content: "・ ";
  margin-left: -1rem; /* ・の分の幅を打ち消す。折り返し時にインデントを下げるための調整。 */
}
