.toc-list-item {
  line-height: 2;
  font-size: 0.8rem;
}

.toc-list-item a {
  opacity: 0.6;
  width: 100%;
  display: block;
  @apply hover:opacity-100;
}

.toc-list-item .is-active-link {
  opacity: 1;
  font-weight: 600;
}

.toc-list-item:has(.node-name--H3.is-active-link) .toc-link.node-name--H2 {
  opacity: 1;
  font-weight: 600;
}

.toc-list-item .node-name--H2::before, .toc-list-item .node-name--H3::before {
  content: "・ ";
}

.toc-list-item .node-name--H3 {
  padding-left: 1.5rem;
}
