.toc, .toc-dialog {
  line-height: 2;
  font-size: 0.8rem;
}

.toc a, .toc-dialog a {
  opacity: 0.4;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @apply hover:opacity-80;
}

.toc .is-active-link, .toc-dialog .is-active-link {
  opacity: 1;
  font-weight: 600;
}

.toc .node-name--H3::before, .toc-dialog .node-name--H3::before {
  white-space: pre;
  content: "    ";
}

.toc .node-name--H4::before, .toc-dialog .node-name--H4::before {
  white-space: pre;
  content: "        ";
}
